/* index.css */

/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el contenedor principal de la aplicación */
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos para el footer */
.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-text {
    font-size: 14px;
}

/* styles.css */

.nav-link {
    color: white;
  }
  
  .nav-link:hover {
    color: lightgray;
  }
  
  .nav-item {
    margin-right: 15px;
  }
  /* styles.css */

  .carousel-item img {
    max-height: 500px;
    max-width: 1300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .map {
    height: 400px; /* Altura deseada del mapa */
    width: 400px; /* Ancho deseado del mapa */
    margin: auto; /* Centra el mapa horizontalmente en la página */
  }
  
  

/* Otros estilos globales */
/* Puedes agregar estilos adicionales según tus necesidades */
